.cell {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    flex: 0 0 auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-device-width: 480px) {
    .cell:hover {
        background-color: var(--cell-hover-color);
        cursor: crosshair;
    }
}

.cell:active {
    background-color: var(--cell-active-color);
}

.cell::before {
    content: "";
    position: absolute;
    width: var(--cell-size);
    height: var(--cell-size);
    z-index: -1;
    pointer-events: none;
    transition: .3s;
}

.cell-even::before {
    background-color: var(--cell-color);
    opacity: var(--cell-even-opacity);
}

.cell-odd::before {
    background-color: var(--cell-color);
    opacity: var(--cell-odd-opacity);
}

.cell-top-left-corner {
    border-top-left-radius: 16px;
}

.cell-top-right-corner {
    border-top-right-radius: 16px;
}

.cell-bottom-left-corner {
    border-bottom-left-radius: 16px;
}

.cell-bottom-right-corner {
    border-bottom-right-radius: 16px;
}

.cell-top-left-corner::before {
    border-top-left-radius: 16px;
}

.cell-top-right-corner::before {
    border-top-right-radius: 16px;
}

.cell-bottom-left-corner::before {
    border-bottom-left-radius: 16px;
}

.cell-bottom-right-corner::before {
    border-bottom-right-radius: 16px;
}

.cell-top-left-corner::after {
    border-top-left-radius: 15px !important;
}

.cell-top-right-corner::after {
    border-top-right-radius: 15px !important;
}

.cell-bottom-left-corner::after {
    border-bottom-left-radius: 15px !important;
}

.cell-bottom-right-corner::after {
    border-bottom-right-radius: 15px !important;
}

.cell-content {
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: 0.3s;
    font-size: calc(var(--cell-size) / 3);
}

.cell-content::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    transition: .3s;
    border: 6px solid transparent;
}

.cell-content-error::after {
    content: "";
    position: absolute;
    width: calc(var(--cell-size) - 14px);
    height: calc(var(--cell-size) - 14px);
    z-index: 0;
    border: 6px solid var(--cell-incorrect-color);
    transition: .3s;
    background-image: repeating-linear-gradient(
        -45deg,
        var(--cell-incorrect-color),
        var(--cell-incorrect-color) 3px,
        transparent 3px,
        transparent 12px
    );
}

.cell-crown {
    line-height: 1;
    width: 60%;
    height: 60%;
}

.cell-cross {
    opacity: 0.4;
    line-height: 1;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: var(--cell-note-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
