.cell {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    flex: 0 0 auto;
    background-color: transparent;
    /*border-radius: 7px;*/
    transition: .2s;
}

@media (min-device-width: 480px) {
    .cell:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: crosshair;
    }
}

.cell:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.cell::before {
    content: "";
    position: absolute;
    width: calc(var(--cell-size) - 0px);
    height: calc(var(--cell-size) - 0px);
    transform: translateX(-50%) translateY(0px);
    /*border-radius: 6px;*/
    z-index: -1;
    pointer-events: none;
    transition: .2s;
}

.cell-even::before {
    background-color: var(--cell-color);
    opacity: 0.8;
}

.cell-odd::before {
    background-color: var(--cell-color);
    opacity: 0.6;
}

.cell-top-left-corner {
    border-top-left-radius: 16px;
}
.cell-top-right-corner {
    border-top-right-radius: 16px;
}
.cell-bottom-left-corner {
    border-bottom-left-radius: 16px;
}
.cell-bottom-right-corner {
    border-bottom-right-radius: 16px;
}

.cell-top-left-corner::before {
    border-top-left-radius: 16px;
}
.cell-top-right-corner::before {
    border-top-right-radius: 16px;
}
.cell-bottom-left-corner::before {
    border-bottom-left-radius: 16px;
}
.cell-bottom-right-corner::before {
    border-bottom-right-radius: 16px;
}

.cell-top-left-corner::after {
    border-top-left-radius: 16px !important;
}
.cell-top-right-corner::after {
    border-top-right-radius: 16px !important;
}
.cell-bottom-left-corner::after {
    border-bottom-left-radius: 16px !important;
}
.cell-bottom-right-corner::after {
    border-bottom-right-radius: 16px !important;
}

.cell-content {
    width: calc(var(--cell-size) - 1px);
    height: calc(var(--cell-size) - 1px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: calc(var(--cell-size) / 3);
}

.cell-content-error::after {
    content: "";
    position: absolute;
    width: calc(var(--cell-size) - 10px);
    height: calc(var(--cell-size) - 10px);
    /*border-radius: 6px;*/
    z-index: 0;
    border: 6px solid #ff5353;
    background-image: repeating-linear-gradient(
        -45deg,
        #ff5353,
        #ff5353 2px,
        transparent 2px,
        transparent 12px
    );
}

.cell-crown {
    line-height: 1;
    width: 60%;
    height: 60%;
}

.cell-cross {
    opacity: 0.4;
    line-height: 1;
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}