.GameField {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border-radius: 24px;
    width: 100%;
}

.GameField-win-screen {
    background-color: rgba(18, 18, 18, 0.0);
    backdrop-filter: blur(0px);
    position: absolute;
    z-index: 1;
    pointer-events: none;
    transition: .8s;
}

.GameField-win-screen-container {
    opacity: 0;
    transition: .8s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

.Game-Actions {
    z-index: 2;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
    width: 100%;
    padding-bottom: 32px !important;
}

.Game-Actions-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
    width: 100%;
}

.Game-Header {
    position: absolute;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Game-Actions-btn {
    padding: 16px;
    font-size: 16px;
    width: 100%;
    background-color: #212121;
    border: none;
    outline: none;
    border-radius: 12px;
    transition: .5s;
    color: white;
}

.Game-Actions-btn:active {
    background-color: #ffffff;
    cursor: pointer;
    color: black;
}

@media (min-device-width: 480px) {
    .Game-Actions-btn:hover {
        background-color: #ffffff;
        cursor: pointer;
        color: black;
    }

    .Game-Settings-btn:hover {
        background-color: #323232;
        cursor: pointer;
    }
}

.Game-Settings-Pane-Overlay {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 0;
}

.Game-Settings-btn:active {
    background-color: #424242;
}

.Game-Settings-btn {
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: #212121;
    transition: .3s;
}

.guide-img {
    width: 100%;
    border-radius: 24px;
}

.guide-text {
    width: 100%;
    text-align: center;
}

.guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 48px);
    padding: 24px;
}

.settings-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 80px);
    border-radius: 12px;
    margin: 16px;
    padding: 24px;
    background-color: rgba(41, 41, 41, 0.47);
}

.btn-level-size {
    background-color: transparent;
    color: #ffffff;
    transition: 0.3s;
    border: none;
    outline: none;
    padding: 16px;
    cursor: pointer;
    border-radius: 0;
    width: 48px;
    height: 48px;
    font-weight: 500;
}

.btn-level-size-active {
    background-color: #ffffff !important;
    color: #121212 !important;
    border-radius: 16px;
    transition: 0.3s;
    font-weight: bold;
}

.level-size-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(67, 67, 67, 0.87);
    border-radius: 16px;
    flex-wrap: wrap;
}

.link-dev {
    text-decoration: none;
    color: #ff4646;
    transition: 0.3s;
    font-weight: 500;
}

.link-dev:hover {
    color: #ffaeae;
}
