.GameField {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border-radius: 17px;
    width: 100%;
    background-color: var(--game-field-background-color);
}

.GameField-win-screen {
    background-color: transparent;
    backdrop-filter: blur(0px);
    position: fixed;
    z-index: 2;
    top: 0;
    pointer-events: none;
    transition: .8s;
}

.GameField-win-screen-container {
    opacity: 0;
    transition: .8s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Game-Actions {
    z-index: 2;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
    width: 100%;
    padding-bottom: 32px !important;
}

.Game-Actions-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
    width: 100%;
}

.Game-Header {
    position: absolute;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.Game-Actions-btn {
    padding: 16px;
    font-size: 16px;
    width: 100%;
    background-color: var(--btn-background-color);
    border: none;
    outline: none;
    border-radius: 12px;
    transition: .5s;
    color: var(--btn-foreground-color);
}

.Game-Actions-btn:active {
    background-color: var(--btn-active-background-color);
    cursor: pointer;
    color: var(--btn-active-foreground-color);
    border-radius: 48px;
}

@media (min-device-width: 480px) {
    .Game-Actions-btn:hover {
        background-color: var(--btn-active-background-color);
        cursor: pointer;
        color: var(--btn-active-foreground-color);
    }

    .Game-Settings-btn:hover {
        background-color: var(--btn-settings-hover-color);
        cursor: pointer;
    }
}

.Game-Settings-Pane-Overlay {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 0;
    z-index: 3;
}

.Game-Settings-btn:active {
    background-color: var(--btn-settings-active-color);
    border-radius: 48px;
}

.Game-Settings-btn {
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: var(--btn-settings-color);
    transition: .3s;
}

.guide-img {
    width: 100%;
    border-radius: 24px;
}

.guide-text {
    width: 100%;
    text-align: center;
}

.guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 48px);
    padding: 24px;
}

.settings-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 80px);
    border-radius: 12px;
    margin: 16px;
    padding: 24px;
}

.btn-level-size {
    background-color: transparent;
    color: var(--settings-level-size-label-color);
    transition: 0.3s;
    border: none;
    outline: none;
    padding: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    font-weight: 500;
}

.btn-level-size:active {
    background-color: var(--settings-level-size-active-background-color);
    color: var(--settings-level-size-active-label-color);
    border-radius: 16px;
    transition: 0.3s;
}

.btn-level-size-active {
    background-color: var(--settings-level-size-active-background-color) !important;
    color: var(--settings-level-size-active-label-color) !important;
    border-radius: 16px;
    transition: 0.3s;
}

.level-size-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--settings-level-size-container-background-color);
    border-radius: 22px;
    flex-wrap: wrap;
    transition: 0.3s;
    padding: 6px;
}

.link-dev {
    text-decoration: none;
    color: var(--link-dev-color);
    transition: 0.3s;
    font-weight: 500;
}

.link-dev:hover {
    color: var(--link-dev-hover-color);
}
