.BaseWindow-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.BaseWindow-container {
    width: calc(100vw - 64px);
    overflow-x: hidden;
    max-width: 640px;
    min-height: var(--window-allowed-min-height);
    display: flex;
    margin: 0 32px;
    flex-direction: column;
    align-items: center;
}
