.DialogOverlay-root {
    position: fixed;
    transition: .6s;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.DialogOverlay-container {
    width: 100%;
    max-width: 480px;
    opacity: 0;
    transition: .6s;
}

.DialogOverlay-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 16px;
    gap: 16px;
}

.DialogOverlay-btn-back {
    width: 48px;
    height: 48px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    border: none;
    outline: none;
    line-height: 1;
    border-radius: 12px;
    transition: .3s;
}

.DialogOverlay-btn-back:active {
    background-color: #424242;
}

@media (min-device-width: 480px) {
    .DialogOverlay-btn-back:hover {
        background-color: #323232;
        cursor: pointer;
    }
}

.DialogOverlay-body {

}