root, body {
    margin: 0;
    padding: 0;
    user-select: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    user-drag: none;
    pointer-events: none;
        -webkit-user-drag: none;
        -webkit-touch-callout: none;
}
